* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  // default
  --background-color: #191a1c;
  --body-color: black;
  --accent-color: rgb(93, 93, 93);
  --text-color: #d6d6d6;
  --input-color: #252629;
  --current-char: rgb(103, 189, 232);
  --current-char-bg: transparent;
  --true-char: rgba(47, 47, 47, 0.526);
  --true-char-bg: transparent;
  --wrong-char: rgb(255, 80, 80);
  --wrong-char-bg: transparent;
  --typo-char: rgb(255, 0, 0);
  --words-limit-color: rgb(143, 143, 143);
  --slash-color: rgba(48, 48, 48, 0.596);
  --wpm-color: #b8b8b8;
  --info-color: rgba(58, 58, 58, 0.516);
  --selected-word-limit: rgb(228, 228, 228);

  // --body-image: linear-gradient(
  //   135deg,
  //   rgb(38, 130, 116) 23%,
  //   rgb(163, 43, 13) 23%,
  //   rgb(163, 43, 13) 46%,
  //   rgb(171, 82, 5) 46%,
  //   rgb(171, 82, 5) 69%,
  //   rgb(111, 87, 18) 69%,
  //   rgb(111, 87, 18) 92%,
  //   rgb(69, 38, 17) 92%
  // );
  // --text-color: rgb(255, 255, 255);
  // --current-char: #e16b06;
  // --current-char-bg: transparent;
  // --true-char: #e1ba45;
  // --true-char-bg: transparent;
  // --wrong-char: #d73811;
  // --wrong-char-bg: transparent;
  // --typo-char: rgb(85, 85, 85);
}

.burgundy {
  --body-color: #1a1a1a;
  --accent-color: rgb(149, 61, 61);
  --background-color: #5b1a21;
  --input-color: #6a2128;
  --text-color: #e3e3e3;
  --current-char: #ffb701;
  --current-char-bg: transparent;
  --true-char: #68b723;
  --true-char-bg: transparent;
  --wrong-char: #c6262e;
  --wrong-char-bg: transparent;
  --typo-char: rgb(206, 134, 134);
  --words-limit-color: rgb(133, 7, 7);
  --wpm-color: #983434;
  --info-color: rgba(98, 52, 58, 0.823);
  --selected-word-limit: rgb(241, 0, 0);

  // keyboard
}

// scroll bar
body {
  scrollbar-width: 0px;
}
::-webkit-scrollbar {
  display: none;
}

.monokai {
  --body-color: #171812;
  --background-color: #2f3225;
  --text-color: #f8f8f2;
  --accent-color: #a6e22e;
  --current-char: #66d9ef;
  // --current-char-bg: #2f352411;
  --current-char-bg: transparent;
  --true-char: #a6e22e;
  --true-char-bg: transparent;
  --wrong-char: #f92672;
  --wrong-char-bg: transparent;
  --typo-char: rgb(255, 172, 7);
  --slash-color: var(--true-char);
  --words-limit-color: var(--true-char);
  --input-color: #363a2a;
  --wpm-color: var(--accent-color);
  --info-color: #5d6d35;
  --selected-word-limit: rgb(239, 243, 0);
}
.dots {
  --body-color: #191b25;
  --background-color: #232533;
  --input-color: #2b2d3c;
  --text-color: #dcdcdc;
  --accent-color: rgb(255, 172, 7);
  --current-char: #9b57ff;
  --current-char-bg: #2f3524cf;
  --true-char: #32cb8b;
  --true-char-bg: transparent;
  --wrong-char: #fe494e;
  --wrong-char-bg: transparent;
  --typo-char: rgb(255, 172, 7);
  --slash-color: var(--true-char);
  --words-limit-color: #ff9552;
  --selected-word-limit: rgb(255, 94, 0);
  --slash-color: var(--words-limit-color);
  --wpm-color: #ffd751;
  --info-color: rgba(50, 59, 103, 0.823);
}
.arora {
  --background-color: rgba(26, 28, 28, 0.6);
  --body-image: linear-gradient(-20deg, #e73c7e, #23a6d5, #23d5ab);
  --input-color: rgba(34, 34, 34, 0.537);
  --words-limit-color: #dbdbdbd3;
  --selected-word-limit: rgba(255, 255, 255, 0.78);
  --slash-color: #c3c3c374;
  --accent-color: rgba(206, 206, 206, 0.871);
}

@keyframes Gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

body {
  background-color: var(--body-color);
  background-image: var(--body-image);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-size: 400% 400%;
  animation: Gradient 60s ease infinite;
}
.nav,
#root,
#root > div {
  display: flex;
  justify-content: center;
  width: 100%;
  // background-color: blue;
}

.textbox {
  width: 80%;
}

.textbox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 380px;

  .box {
    background-color: var(--background-color);
    // background-size: 400% 400%;
    // transition: all 1s ease;

    padding: 20px 20px;
    align-self: center;
    width: 100%;
    text-align: justify;
    border-radius: 8px;
    transition: all 2s ease;
    // filter: blur(2px);
  }

  .word {
    font-size: 19px;
    color: var(--text-color);
    letter-spacing: -4.2px;
    font-family: "PT Mono";
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 6px;
    backdrop-filter: blur(40px);

    div {
      display: inline-block;
    }
  }
  .ws {
    color: gray;
  }
  .char {
    padding: 3px 2.5px;
    display: inline-block;
    margin: 0px 0.7px;
    border-radius: 2px;
    position: relative;
    &::selection {
      background-color: rgb(49, 49, 60);
      color: gray;
    }
  }
  .again-error {
    animation: 0.3s againError 1;
  }

  .current {
    color: var(--current-char);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -0.5px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--current-char);
    }
    background: var(--current-char-bg);
  }

  .wrong {
    background-color: var(--wrong-char-bg);
    // color: red;
    color: var(--wrong-char);
  }
  .wrong-char {
    position: absolute;
    bottom: -3px;
    left: calc(50% - 2px);
    font-size: 10px;
    color: var(--typo-char);
  }
  .wrong-arrow {
    position: absolute;
    color: var(--typo-char);
    transform: rotate(140deg);
    left: 11px;
    bottom: -3px;
    font-size: 10px;
  }
  .true {
    background-color: var(--true-char-bg);
    color: var(--true-char);
  }
}
@keyframes againError {
  0% {
    color: red;
    background-color: rgb(99, 0, 0);
  }
  100% {
    color: rgb(0, 110, 255);
  }
}

// 600 and above;
@media (max-width: 600px) {
  .textbox {
    width: 100%;
    .box {
      border-radius: 0;
      font-size: 14px;
      padding: 12px;
      .word {
        font-size: 16px;
      }
    }
    .word-limits {
      padding-left: 12px;
      font-size: 14px;
    }
    .gear-icon-outer {
      margin-right: 8px;
      .gear-icon {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .textbox {
    width: 95%;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .textbox {
    width: 85%;
  }
}
@media (min-width: 1000px) and (max-width: 1600px) {
  .textbox {
    width: 70%;
  }
}

@media (max-width: 700px) {
  form {
    width: 85%;
    margin: 0 auto;
  }
  .form-boxes {
    flex-direction: column;
  }
  .back {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  .theme {
    flex-grow: 1;
  }
}
@media (max-width: 400px) {
  form {
    width: 95%;
    margin: 0 auto;
  }
  .form-boxes {
    flex-direction: column;
  }
  .back {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
  }
}

// @settings
.back-outer {
  background-color: var(--accent-color);
  border: 0px;
  padding: 0;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: transparent;
}
.back {
  color: var(--accent-color);
  font-size: 24px;
  margin-bottom: 15px;
}

.forms {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color);
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 8px;
}

.form-boxes {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  accent-color: var(--accent-color);
}

.form-boxes-col {
  display: flex;
  flex-direction: column;
  // align-items: start;
  // justify-content: space-between;
  gap: 15px;
}
.form-box {
  background-color: var(--background-color);
  padding: 12px 18px;
  border-radius: 8px;
  span {
    font-size: 8px;
  }
}

.radio-input {
  display: flex;
  gap: 8px;
  align-items: center;
  // background-color: red;
  margin-bottom: 8px;
}

.lable-3l {
  display: flex;
  gap: 8px;
}

.range-3l {
  display: flex;
  align-items: center;
  gap: 5px;
  span {
    font-size: 10px;
  }
}

form {
  // padding: 20px 35px;
  border-radius: 8px;
  color: rgb(199, 199, 199);
  font-size: 13px;
  .row {
    display: flex;
    justify-content: space-around;
  }
  .row-sb {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .right {
    display: flex;
    justify-content: end;
    margin-right: 10px;
  }

  button {
    background-color: var(--accent-color);
    border: none;
    padding: 3px 10px;
    margin-top: 10px;
    border-radius: 2px;
  }

  input[type="text"],
  input[type="range"],
  input[type="number"] {
    background-color: var(--input-color);
    border: none;
    color: white;
    border-radius: 6px;
    padding: 4px 0px;
    margin-top: 5px;
    margin-left: 18px;
    font-size: 12px;
    &:hover {
      outline: none;
    }
  }
  input.small-input {
    width: 50px;
    font-size: 12px;
    padding: 2px 5px;
    padding-left: 15px;
  }
  .field {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .radio-row {
    display: flex;
    gap: 18px;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
    // justify-content: space-around;
    .row {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .row-sb {
      gap: 5px;
    }
    input {
      accent-color: var(--accent-color);
    }
  }
  .range-row {
    p {
      width: 60px;
    }
  }
}
.gear-icon-outer {
  margin-left: 12px;
  .gear-icon {
    color: var(--accent-color);
  }
}

.word-limits {
  margin-bottom: 10px;
  font-size: 18px;
  div,
  p {
    display: inline-block;
  }
  display: flex;
  gap: 5px;
  .word-limit.selected p {
    color: var(--selected-word-limit);
    // text-decoration: underline 1.5px white;
  }

  .word-limit {
    color: var(--words-limit-color);
    display: flex;
    gap: 4px;

    p {
      // transition: all 0.3s ease 1s;

      &:hover {
        cursor: pointer;
        color: var(--selected-word-limit);
        text-decoration: underline 1px solid var(--words-limit-color);
      }
    }
    .slash {
      color: var(--slash-color);
    }
  }
}

.top-row {
  display: flex;
  // justify-content: space-between;
  .spacer {
    flex-grow: 1;
  }

  .wpm {
    color: var(--wpm-color);
  }
}

.info {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: var(--info-color);
}

// @typos

.typos {
  background-color: var(--background-color);
  margin-top: 15px;
  padding: 12px 20px;
  width: fit-content;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  column-gap: 30px;
  row-gap: 1px;
  align-self: center;

  button {
    color: #c6d8ff;
    // background-color: rgb(45, 47, 52);
    background-color: var(--input-color);
    border: none;
    border-radius: 6px;
    padding: 2px 4px;
    font-size: 11px;
    font-weight: lighter;
  }
  div {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .true {
    color: rgb(0, 217, 0);
    width: 15px;
  }
  .false {
    color: red;
    width: 14px;
  }
  .count {
    color: rgb(0, 145, 255);
    font-size: 12px;
  }

  .typo-array {
    letter-spacing: -0.5px;
    font-size: 12px;
    .brace {
      color: rgb(255, 0, 221);
    }
    .comma {
      color: rgba(255, 55, 218, 0.79);
    }

    .typo-word {
      margin: 0;
      display: inline-block;
      padding: 0;
      white-space: nowrap;
      display: inline-block;

      .true {
        color: rgb(0, 173, 3);
        // background-color: red;
      }

      p {
        display: inline-block;
      }
    }
  }
}

.hidden-input {
  background-color: red;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 0px;
  height: 0px;
  color: transparent;
  &:focus {
    outline: 0;
  }
}

// @themes
.themes-page {
  .themes {
    display: flex;
    gap: 8px;
    padding: 14px 14px;
    background-color: var(--background-color);
    // margin-top: 40px;
    border-radius: 4px;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;

    .theme {
      padding: 25px 0;
      text-align: center;
      background-color: gray;
      width: 100px;
      border-radius: 4px;
      border: 1px solid rgba(81, 81, 81, 0.633);
    }

    .burgundy {
      background-color: #5b1a21;
    }
    .monokai {
      background-color: #2f3225;
    }
    .dots {
      background-color: #232533;
    }
    .gray {
      background-color: #191a1c;
    }
    .arora {
      background: linear-gradient(-20deg, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: Gradient 60s ease infinite;
    }
  }
}
